#@ load("@ytt:data", "data")
---
apiVersion: v1
kind: Service
metadata:
  name: #@ data.values.name
  labels: #@ data.values.defaultLabels
  annotations:
    cloud.google.com/backend-config: #@ '{"default": "' + data.values.name + '"}'
spec:
  selector:
    deployname: #@ data.values.name
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: #@ data.values.name
  labels: #@ data.values.defaultLabels
spec:
  timeoutSec: 60
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    port: 5000
    type: HTTP
    requestPath: /health

---
apiVersion: v1
kind: Service
metadata:
  name: #@ data.values.indexer.name
  labels: #@ data.values.defaultLabels
spec:
  selector:
    deployname: #@ data.values.indexer.name
  ports:
    - port: 27017
      targetPort: mongo
      name: mongo
    - port: 7171
      targetPort: apibara-backend
      name: apibara-backend

---
apiVersion: v1
kind: Service
metadata:
  name: #@ data.values.name + "-set-indexer"
  labels: #@ data.values.defaultLabels
spec:
  selector:
    deployname: #@ data.values.name + "-set-indexer"
  ports:
    - port: 5432
      targetPort: set-indexer
      name: set-indexer
